@page
@model PrivacyModel
@{
    ViewData["Title"] = "Create Meeting";
}
<div>
    <h1 class="display-4">Create Meeting</h1>
    <p></p>
</div>
<body>

    <form action="register.php" method="post">
        

        <h2>Выберите дату и время</h2>
        <input type="datetime-local" min="00:00" id="StartDate" name="StartDate" value="">
        <div class="text-field" >
            <label class="text-field__label" ><strong><b>Введите событие для календаря</b></strong></label>
            <input class="text-field__input" type="text" name="themaMeet">
            
        </div>

       

        <tr>
            <td>
                <input class="SuperButton" style="border-radius:5px;" style="background-color:#1c87c9;" type="submit" value="Сохранить"></input>
            </td>
            <td>
                <input class="SuperButton2" style="border-radius:5px;" style="background-color:red;"  type="reset" value="Очистить">
            </td>
        </tr>
    </form>

</body>



