@page
@model PrivacyModel
@{
    ViewData["Title"] = "Create Meeting";
}
<div>
    <h1 class="display-4" align="center">Create Meeting</h1>
    <p></p>
</div>
<body>
    
    <form action="register.php" method="post">
        <div class="frame ">
            <img class="postiton8a" src="https://cdn-icons-png.flaticon.com/512/551/551080.png">
        </div>
        <div class="window">
            <h3  align="center">Выберите дату и время</h3>
        <input class="timedata" type="datetime-local" min="00:00" id="StartDate" name="StartDate" value="" align="center">
        <div class="text-field" >
                <label  align="center" class="text-field__label"><strong><b>Введите событие для календаря</b></strong></label>
                <input  class="text-field__input" type="text" name="themaMeet">
            </div>
        </div>

       

        <tr>
            <td>
                <input align="center"  class="SuperButton" style="border-radius:5px;" style="background-color:#1c87c9;" type="submit" value="Сохранить"></input>
            </td>
            <td>
                <input align="center"  class="SuperButton2" style="border-radius:5px;" style="background-color:red;" type="reset" value="Очистить">
            </td>
        </tr>
    </form>

</body>



